.container-fluid
{
  background-color: white;
}
h2
{
  font-size: 60px;
  border-color: red;
  font-family: 'Brush Script MT',cursive;
}
h5
{
  font-family:'Lucida Handwriting',cursive;
}
button
{
  font-size: 10px;
  font-family: fantasy;
}
